body { 
    font-family: "Helvetica Neue", Helvetica, sans-serif; 
    margin: 0px;
    padding: 0px;
}

.panels:after {
  content: "";
  display: table;
  clear: both;
}

.panel {
  float: left;
  width: 33.33%;
}

.panelTreeControls {
    background-color: blue;
}

.panelTree{
    background-color: red;
    border: 2px solid #ccc;
    padding: 1em;
}

.panelDataControls {
    background-color: green;
}


#searchBar{
    margin-left: 3em;
}

#visDiv{
    background-color: #FFF;
    border: 1px solid black;
}


.axis text{
  font-family:sans-serif;
  font-size:11px;
}


.axis path,
.axis line{
  fill:none;
  stroke:orange;
  shape-rendering: crisp-edges;
}

.node {
  cursor: pointer;
  
}

.link {
        
}

.link_bold {
    font-weight: bold;
}

.link_extend_bold {
    stroke-opacity: .6;
}