body { font-family: "Helvetica Neue", Helvetica, sans-serif; }
td { vertical-align: top; }

.axis text{
  font-family:sans-serif;
  font-size:11px;
}

.axis path,
.axis line{
  fill:none;
  stroke:orange;
  shape-rendering: crisp-edges;
}

.node {
  cursor: pointer;
  
}

.link {
        
}

.link_bold {
    font-weight: bold;
}

.link_extend_bold {
    stroke-opacity: .6;
}

#searchBar{
    margin-left: 3em;
}

#visDiv{
    background-color: #FFF;
    border: 1px solid black;
}

#tooltip{
    width: 550px;
    position: absolute;
    right: 40px;
    top: 40px;
    background-color: white;
    border: 2px solid #ccc;
    padding: 1em;
}