body {
    height: 100%;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #1e293b;
    font-size: 18px;
}
 .header {
    width: 100%;
    height: 6em;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 0 rgba(98,105,118,.16);
    padding: 0.7em;
}
 .panels {
    padding: 0px 0;
    overflow: hidden;
    position: absolute;
    top: 5em;
    bottom: 2.5em;
    width: 100% 
}
 .full-height {
    height: 100%;
    width: 100%;
    padding-top: 5em;
    display: flex;
    overflow: auto;
}
 .panel {
    height: 100% !important;
    box-sizing: border-box;
    box-shadow:inset 0 -1px 0 0 rgba(98,105,118,.16);
}
 .panelTreeControls {
    width: 20%;
    height: 100% !important;
    float: left;
    background-color: #f5f7fb;
    padding: 1em;
}
 .panelTree {
    width: 60%;
    height: 100% !important;
    float: left;
    background-color: #ffffff;
}
 .panelDataControls {
    width: 20%;
    height: 100% !important;
    float: left;
    background-color: #f5f7fb;
    padding: 1em;
}
 .footer {
    width: 100%;
    background-color: #ffffff;
    height: 2.5em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    font-size: 0.8em;
    box-shadow:inset 0 -1px 0 0 rgba(98,105,118,.16);
}

 #searchBar{
    margin-left: 3em;
}

 .axis text{
    font-family:sans-serif;
    font-size:11px;
}
 .axis path, .axis line{
    fill: none;
    stroke: orange;
    shape-rendering: crisp-edges;
}
 .node {
    cursor: pointer;
}
 .link {
    stroke-width: 2;
}
 .link_bold {
    font-weight: bold;
}
 .link_extend_bold {
    stroke-opacity: .6;
}

 .node {
	  cursor: pointer;
	}
